/*.pyc
/app.spec
/uploads/
/__pycache__/
/build/
/dist/
/Other resources/
IFCwithRoutes/IFC_Schependomlaan_geo_with_routes.bcp
IFCwithRoutes/O-S1-BWK-BIM architectural - BIM bouwkundig_with_routes.ifc
/ExampleInputs/00630 Eurostaete Eindhoven_20240813112841/
/ExampleInputs/IFC_Schependomlaan_geo.ifc
IfcConvert.exe
